<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Live Stock Price Tracker</title>
</head>
<body>
<h1>Live Stock Price Tracker</h1>

<form method="get" action="/stock">
    <input name="symbol" placeholder="Enter Symbol (e.g. TCS.BSE)">
    <button type="submit">Get Price</button>
</form>

<div th:if="${price}">
    <h2 th:text="'Price: ₹' + ${price}"></h2>
</div>
<br/>

<div th:if="${response}">
    <h2 th:text="'Price: ₹' + ${response}"></h2>
</div>
</body>
</html>
